#primary {
  padding-block: 20px;
  justify-content: space-between;

  div {
    display: flex;
    justify-content: center;
    gap: 8px;
  }
}

#secondary {
  padding-block: 14px;
  border-block: 1px solid var(--stroke-color);
  justify-content: space-between;
}
