header {
  --fs-title: 0.937rem;

  @media (width >= 1280px) {
    --fs-title: 1.5rem;

    .py-md {
      padding-block: 1.25rem;
    }
  }

  & nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & a {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      font: var(--fw-lg) var(--fs-md) / 140% var(--font-family);
      color: var(--text-color-primary);
    }

    & a:nth-child(2) {
      font: var(--fw-lg) var(--fs-title) / 100% var(--font-family);
      color: var(--brand-color-light);
      text-transform: uppercase;
    }
  }

  & #matters {
    border-block: 1px solid var(--stroke-color);

    & .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 2rem;
      overflow-x: auto;
      white-space: nowrap;

      & a {
        font: var(--fw-md) var(--fs-sm) / 145% var(--font-family);
        color: var(--text-color-secondary);
      }

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
