#most-read {
  border-top: 1px solid var(--stroke-color);

  & .cards {
    padding-block: 1.5rem;

    & figure {
      position: relative;

      & strong {
        position: absolute;
        top: 0.5rem;
        left: 0.5rem;
      }

      & figcaption {
        margin-top: 0.5rem;
      }
    }
  }

  @media (width >= 1280px) {
    & .cards {
      grid-template-columns: repeat(4, 1fr);
      gap: 1rem;
    }
  }
}

.see-all {
  display: flex;
  align-items: center;
  margin-top: 0.75rem;
  justify-content: space-between;

  & span {
    font: var(--fw-md) var(--fs-sm) / 145% var(--font-family);
    color: var(--text-color-secondary);
  }

  & a {
    display: flex;
    align-items: center;
    gap: 0.25rem;

    &:hover {
      & span {
        color: var(--brand-color-light);
      }

      & svg path {
        fill: var(--brand-color-light);
      }
    }
  }
}
