#most-read {
  & .cards {
    padding-bottom: 1.5rem;

    & figure {
      position: relative;

      & strong {
        position: absolute;
        top: 0.5rem;
        left: 0.5rem;
      }

      & figcaption {
        margin-top: 0.5rem;
      }
    }
  }

  @media (width >= 1280px) {
    & .cards {
      grid-template-columns: repeat(4, 1fr);
      gap: 1rem;
    }
  }
}
